<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NaturalSur</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="cuerpo">
		<nav class="navbar navbar-expand-lg navbar-light" id="botonera">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="../index.html"><img src="../imagenes/logo-negro.png"></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span> 
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="page" href="../views/ofertas.html">Ofertas</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="../views/quienessomos.html">Quienes somos</a>
	        </li>
	          <li class="nav-item">
	          <a class="nav-link" href="../views/productos.html">Productos</a>
	        </li>
	          <li class="nav-item">
	          <a class="nav-link" href="../views/listado.html">Listado de precios</a>
	        </li>
	      
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">	</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="¿que estas buscando?" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Buscar</button>
	      </form>
	    </div>
	  </div>
	</nav>
		<table class="table table-success table-striped" id="lista">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Producto</th>
      <th scope="col">Origen</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1001</th>
      <td>Nueces peladas xkg.</td>
      <td>Argentina</td>
      <td>$1550</td>
    </tr>
    <tr>
      <th scope="row">1002</th>
      <td>Almendras peladas xkg.</td>
      <td>Chile</td>
      <td>$1550</td>
    </tr>
    <tr>
      <th scope="row">1003</th>
      <td>Avellanas peladas xkg.</td>
      <td>Turquia</td>
      <td>$1550</td>
    </tr>
     <tr>
      <th scope="row">1004</th>
      <td>Castañas de caju xkg.</td>
      <td>Vietnam</td>
      <td>$1550</td>
    </tr>
     <tr>
      <th scope="row">1005</th>
      <td>Pasas de uva rubias xkg.</td>
      <td>Sudafrica</td>
      <td>$1550</td>
    </tr>
     <tr>
      <th scope="row">1006</th>
      <td>Pasas de uva jumbo xkg.</td>
      <td>Argentina</td>
      <td>$1550</td>
    </tr>
     <tr>
      <th scope="row">1007</th>
      <td>Avena instantanea xkg.</td>
      <td>Argentina</td>
      <td>$1550</td>
    </tr>
  </tbody>
</table>
	<footer id="pie">
		<a href="https://www.instagram.com/" target="blank">
			<img class="footer__png--float" src="../imagenes/ig.png" width="50" height="50" alt="logo de instagram">	
		</a>
			<a href="https://wa.me/1152627395/" target="blank">
				<img class="../footer__png--float" src="../imagenes/wp.png" width="50" height="50" alt="imagen de whatsapp">
			</a>
	</footer>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>